{
  "plugins": [
    [
      "module-resolver",
      {
        // root 폴더 설정
        "root": "./src",
        "alias": {
          "@common/*": ["./src/components/common/*"]
        }
      }
    ]
  ]
}
